Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
Flask-Migrate==4.0.7
Flask-Mail==0.10.0
psycopg2-binary==2.9.12
python-dotenv==1.0.1
email-validator==2.1.1
gunicorn==22.0.0

playwright==1.61.0
APScheduler==3.10.4